.Contactame {
    background-color: #6BA2AF;
}

.Contactame h2 {
    color: white;
    margin-bottom: 5rem;
}

.wraper {
    border: 5px solid white;
    width: 33%;
    margin: auto;
    padding: 15rem 3rem 3rem;
    margin-bottom: 0;
}

.inputs-group input{
    color: white;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-top: 6rem;
    outline: none;
}

.input-form {
    margin: 1rem 0;
}

.input-form input {
    font-size: 2.5rem;
}

.input-form textarea {
    font-size: 1.5rem;
    color: grey;
    padding: 1rem 1rem;
}

.first {
    margin-top: -3rem
}

.last {
    margin-bottom: 0;
}

.input-form p {
    text-align: start;
    margin: 0;
    color: white;
}

.input-area textarea {
    width: 100%;
    height: 20rem;
    margin: 0;
    margin-top: 3rem;
    outline: none;
}

.wraper button {
    background-color: transparent;
    color: white;
    align-self: center;
    font-size: 2rem;
    font-family: 'Quicksand', serif;
    margin-top: 2rem;
    padding: 0.3rem 2rem;
    border: 1px solid white;
}

/* Imagenes */


.Imagenes {
    width: 95%;
    align-self: center;
}
