* {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-weight: 0px;
}

h1, h2 {
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    text-align: center;
    color: #8b8b8b;
    
}

h1 {
    font-size: 7.5rem;
    font-weight: lighter;
}

h2 {
    font-weight: normal;
    font-size: 6rem;
}

p {
    font-family: 'Quicksand', serif;
    font-size: 2.7rem;
    color: #909090;
    text-align: center;
}


.subtitile {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;
    font-weight: bold;
    font-style: italic;
    color: #8b8b8b;
}

