

footer {
    background-color: #F1F1F1
}


/* Nosotros */


.Sobre_mi p {
    margin-top: 1rem;
    width: 60%;
    text-align: left;
    color: #505050;
}

.Sobre_mi .line {
	margin-top: 5rem;

}

/* Lo que hacemos */
.flex-container-3 {
    display: flex;
    justify-content: space-between;

}
.Que_hacemos {
    padding: 3rem 0;
    width: 100%;
    margin: 0px auto;
    background-color: #549FB5;
}

.rectangs {
    width: 95%;
}

.Que_hacemos h1 {
    width: 80%;
    border-bottom: 2px white solid;
    font-size: 6rem;
    padding-bottom: 0.2em;
    margin: 0px 0px 1em 0px;
    color: white;
}

.Que_hacemos p{
    margin-top: 5rem;
    font-size: 2rem;
    color: white;
}

.Rectangulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Rectangulo img {
    width: 50%;
}




/* Portafolio */


.Portafolio .Insta{
    width: 25%;
    margin: auto;
}

@media (max-width: 1000px) {
    .flex-container-1 {
        flex-direction: column;
    }

    .flex-container-3 {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        margin: 1rem;
    }

    .title * {
        margin: 0;
    }
}

@media screen and (max-width: 1000px) {

    html {
        font-size: 5px;
    }

    .flex-container-1 div{
        width: 70%;
    }

    .title p {
        font-size: 2.5rem;
    }

    header {
        margin-top: 5rem;
    }


    footer div {
        font-size: 0.5rem;
    }

    footer .width75{
        width: 95%;
    }

    .img_container {
        width: 12em;
    }

    .Que_hacemos h1 {
        margin-bottom: 20rem;
    }


    .Que_hacemos img {
        width: 35%;
    }

    .Que_hacemos p {
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 5em;
    }

    .Contactame .wraper {
        width: 80%;
    }

    /* Tarjetas */

    .Tarjets .Tarjeta {
        padding: 2rem;
    }
    .video {
	    margin: -10rem 0;
    }


}   
