

footer {
    background-color: #F1F1F1
}


/* Nosotros */


.Sobre_mi p {
    margin: 2.5rem 0;
}

.Sobre_mi


.perfil_picture img {
    max-width: 100%;
}

.Sobre_mi img{
    width: 380px;
    margin: 6rem auto;
}


/* Lo que hacemos */
.Que_hacemos {
    width: 100%;
    margin: 0px auto;
    background-color: #75BACB;
}

.rectangs {
    width: 100%;
}

.Que_hacemos h1 {
    margin: 0px 0px 1em 0px;
}

.Que_hacemos h1 {
    color: white;
}

.Que_hacemos p{
    color: white;
}

.Rectangulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0px 0px 0px;
    margin: 0px;
}

.txt p {
    margin: 0px;
    padding: 0px 0px 15px 0px;
}

/* Portafolio */


.Album {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    width: 100%;
}

.Album img {
    margin: 1em;
}

.Album button {
    width: 50rem;
    height: 10rem;
    font-size: 5rem;
}

/* CONTACTO */

.Contactame {
    background-color: #15D1CD;
}

.Contactame button {
    font-size: 4rem;
    padding: 0 2rem;
}

.Contenedor-2 {
    width: 50%;
    margin: auto;
}

.form-group *{
    font-size: 20px;
    border-radius: 5px;
}



@media (max-width: 1000px) {
    .flex-container-1 {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        margin: 1rem;
    }

    .title * {
        margin: 0;
    }
}

@media screen and (max-width: 1000px) {

    html {
        font-size: 5px;
    }

    .flex-container-1 div{
        width: 70%;
    }

    .title p {
        font-size: 2.5rem;
    }

    header {
        margin-top: 5rem;
    }

    footer div {
        font-size: 0.5rem;
    }

    footer .width75{
        width: 95%;
    }

    .img_container {
        width: 12em;
    }
}   
